/* scrub default html border */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    color: rgb(18, 18, 124);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 20px 10px 0px;
    background-color:  rgb(18, 18, 124);
    text-decoration: none;
}

header h2 {
    position: relative;
    top: 15px;

}

header h2 a {
    text-decoration: none;
    color: rgb(18, 18, 124);
    background-color: azure;
    border-left: 75px solid azure;    
    font-size:40px;
    padding: 5px;
}

header nav {
    margin: 10px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 5px solid azure ;
    margin: 0px 10px;
}

header nav ul li a {
    color: azure;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.hero {
    background-image: url("../images/ace.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-position: 80%;
    text-align: right;
    padding: 300px 50px 50px 200px
}

.hero div {
    font-size: 25px;
    background-color: azure;
    border: 5px solid azure;
    
}

.horizontal {
    padding: 50px 100px;
    display: flex;
}

.horizontal h2 {
    font-size: 35px;
    text-align: right;
    padding: 5px 25px 50px;
    width: 200px;
}

.content {
    border-left: 3px solid ;
    padding: 3px 25px;
}

.content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.content ul li {
    padding: 5px 5px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 5px solid rgb(18, 18, 124) ;
    margin: 0px 20px;
    position: relative;
    top: 30px;
}

.content ul li a {
    color: rgb(18, 18, 124);
    text-decoration: none;
}

.about {
    width: 1000px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1000px;
    height: 500px;
    grid-gap: 20px;
}



.project {
    border: 6px solid azure;
    padding-top: 75px;
    position: relative;
}

.project div h3 {
    background-color: azure;
    font-size: 35px;
    width: max-content;
    border-right: 5px solid azure;
    text-decoration: none;
    color:rgb(18, 18, 124);
}

.project-img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(18, 18, 124, 0.3), rgb(18, 18, 124));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: .5s;
}

.project:hover .project-img::after {
    opacity: 0;
    transition: 0.5s;
}

.project-1 {
    background-image: url("../images/chess.jpg");
    grid-column: 1/3;
    grid-row: 1/3;
    padding-top: 225px;
    background-size: cover;
    text-decoration: none;
}



.project-2 {
    background-image: url("../images/computer.jpg");
    background-size: cover;
    text-decoration: none;
}

.project-3 {
    background-image: url("../images/gokart.jpg");
    background-size: cover;
    text-decoration: none;
}

.project-4 {
    background-image: url("../images/dice.jpg");
    background-size: cover;
    text-decoration: none;
}

.project-5 {
    background-image: url("../images/maze.jpg");
    background-size: cover;
    text-decoration: none;
}

